html {
    height: 100%;
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline-color: $blue;
}

::selection {
    color: $black;
    background: $yellow;
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: .5em;
    background: rgba($black, .5);
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
}

body {
    font-family: $inter, $sans;
    font-size: normal;
    font-weight: 400;
    line-height: 1.5;
    color: $grey;
}

h1 {
    @include aa;
    font-family: $inter;
    font-size: 2em;
    line-height: 1.25;
    text-transform: capitalize;
    font-weight: $extra-bold;
    letter-spacing: -.75px;
    color: $black;
}

h2 {
    @include aa;
    font-family: $inter;
    font-weight: $bold;
    line-height: 1.2;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: -.75px;
    color: $black;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}