button {
    @include aa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: $radius;
    box-shadow: 0 .5em .625em rgba($black, .25);
    font-family: $inter;
    color: $black;
    background: $white;
    outline-color: $black;
    cursor: pointer;
    transition: all .2s;

    @include hover {
        box-shadow: 0 .75em .875em .375em rgba($black, .25);
        transform: translateY(-.25em);
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1em 2em;
    border: 0;
    border-radius: $radius;
    box-shadow: 0 .5em .625em rgba($black, .25);
    font-family: $inter;
    font-size: inherit;
    caret-color: $grey;
    color: $black;
    background: $light;
    cursor: pointer;
    transition: all .2s;

    &::placeholder {
        opacity: 1;
        color: inherit;
        transition: all .2s;
    }

    &:focus {
        background: $white;

        &::placeholder {
            font-family: $sans;
            color: $grey;
        }
    }

    @include hover {
        box-shadow: 0 .75em .875em .375em rgba($black, .25);
        transform: translateY(-.25em);
    }
}